*{
    line-height: 1.5;
    color:rgb(219, 175, 27);
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 168, 122);
}

.recipe-content{
    text-align: left;
    padding: 20px;
}

.recipe-card.feature{
    border: 2px solid rgb(192, 138, 36);
}

.recipe-card{
    width: 700px;
    text-align: center;
    background-color: #fff4dc;
    margin: 20px auto;
    padding: 50px;
}

.recipe-card h1{
    text-align: center;
    color: rgb(250, 173, 20);
    margin-top: -10px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 75%;
}

h2{
    color: rgb(250, 173, 20);
}

p, li{
    font-size: 16px;
    text-align: justify;
}